xcuserdata/
*.xcodeproj/

## Build related
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
build/

## Objective-C/Swift specific files
*.hmap

## Packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# Fastlane files
fastlane/README.md
fastlane/report.xml

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Environment variables and secrets
*.env
*.pem
*.p12
*.cer
*.mobileprovision
/.cursor/
project.yml

.tmp/